#event-view
  .image
    img(src=model.get('image'))
  header
    if App.User.isLoggedIn()
      if model.get('subscribed')
        .button.subscribe.on Subscribe
      else
        .button.subscribe.off Unsubscribe
    h1= model.get('name')
    p.date= moment.unix(model.get('date')).format("MMM Do,")
      strong(class=moment.unix(model.get('date')).isSame(moment(), 'day') ? "today" : "")= moment.unix(model.get('date')).format("HH:mm")
    p.location= model.get('location')
  ul.tags
    - for (tag in model.get('tags')) {
      li
        a(href='', data-tag=model.get('tags')[tag])= model.get('tags')[tag]
    - }
  .description
    p= model.get('description')
  
  #comments
    h2 Comments
    ul
      - if(comments == null) {
        p
          em No comments have been posted yet.
      - } else {
      -   for (comment in comments) {
        li
          strong= comment.get('name')
          .body= comment.get('body')
      -   }
      - }
      - if (App.User.isLoggedIn()) {
        h2 Post Comment
        form(action='')
          textarea
          input(type='submit', value='Post Comment')
      - }
